In [16]:
#Program 4.10

import pandas as pd
df1=[[2,'Anu',49],[4,'Devika'],[8,'Manu'],[10,'Sona',50]]
df2=pd.DataFrame(df1,columns=['Rollno','Name','Mark'])
print(df2)
print("\nAfter Modification :: \n")
df3=df2.fillna(0)
print(df3)

   Rollno    Name  Mark
0       2     Anu  49.0
1       4  Devika   NaN
2       8    Manu   NaN
3      10    Sona  50.0

After Modification ::

   Rollno    Name  Mark
0       2     Anu  49.0
1       4  Devika   0.0
2       8    Manu   0.0
3      10    Sona  50.0